*.pth
*.png
*.jpg
*.dcm
*.txt
*.out

june5th/
output/
.vscode/
cache/
output_history/
MIUA/
june5th

*output
output_512_noatten_sig5/
output_512_sig5/
output_noatten_sig3/
output_sig3/
output_sig5//baseline_outputs
baseline_outputs
output_boa_sept24/
